@layer components {
  p {
    @apply text-base text-black max-mobile:text-sm ease-in-out transition-all;
  }

  p.secondary {
    @apply text-gray-400;
  }

  p > strong {
    @apply font-bold;
  }
}
