@layer components {
  .file-input {
    @apply flex flex-col;
  }

  .file-input > label {
    @apply flex flex-col items-center gap-1 justify-center border border-dashed rounded-xl p-3 transition-all
    hover:border-blue-500 hover:*:text-blue-500 cursor-pointer *:text-gray-600 border-gray-600;
  }

  .file-input input {
    @apply hidden;
  }

  .file-input-placeholder {
    @apply flex items-center text-sm gap-1 text-gray-600;
  }

  .file-input-placeholder > svg {
    @apply flex-[0_0_20px] h-[20px];
  }

  .file-input-error {
    @apply text-xs text-red-500;
  }

  .file-input-description {
    @apply text-xs text-gray-400 mt-0.5;
  }

  /*Состояние ошибки*/
  .file-input > label:has([aria-invalid='true']) {
    @apply border-red-500 hover:border-red-500 hover:*:text-red-500;
  }

  /*Состояние выключено*/
  .file-input > label:has(:disabled) {
    @apply cursor-not-allowed *:text-gray-400! border-gray-400!;
  }
}
