@import './Button/Button.css';
@import './Badge/Badge.css';
@import './Input/Input.css';
@import './Text/Text.css';
@import './Heading/Heading.css';
@import './Checkbox/Checkbox.css';
@import './Switch/Switch.css';
@import './Radio/Radio.css';
@import './Select/Select.css';
@import './Container/Container.css';
@import './Link/Link.css';
@import './Paper/Paper.css';
@import './Skeleton/Skeleton.css';
@import './FileInput/FileInput.css';
