@layer components {
  button {
    @apply border-none rounded-lg font-[500] inline-flex items-center justify-center cursor-pointer
    transition ease-in-out bg-blue-500 hover:bg-blue-600 text-white text-base gap-1
    max-mobile:text-sm px-4 py-2.5 max-mobile:px-3.5 max-mobile:py-2 shadow-lg shadow-blue-500/50
    active:bg-blue-700 disabled:bg-gray-200/50 disabled:text-gray-500 disabled:shadow-none
    disabled:cursor-not-allowed select-none appearance-none [&>svg]:size-[24px]
    max-mobile:[&>svg]:size-[20px] focus-visible:outline-offset-2
    focus-visible:outline-2 focus-visible:outline-solid focus-visible:outline-blue-500;
  }

  button.small {
    @apply px-3.5 py-2 max-mobile:px-3 max-mobile:py-1.5 text-sm max-mobile:text-xs
    [&>svg]:size-[20px] max-mobile:[&>svg]:size-[16px];
  }

  button.big {
    @apply px-4.5 py-3 max-mobile:px-4 max-mobile:py-2.5 text-lg max-mobile:text-base
    [&>svg]:size-[28px] max-mobile:[&>svg]:size-[24px];
  }

  button.secondary {
    @apply bg-transparent text-black shadow-none hover:bg-gray-200 active:bg-gray-300
    disabled:bg-transparent disabled:text-gray-500;
  }
}