@layer components {
  .radio {
    @apply flex flex-col;
  }

  .radio > label {
    @apply flex items-start cursor-pointer select-none text-sm text-black;
  }

  .radio input[type='radio'] {
    @apply hidden;
  }

  .radio-circle {
    @apply border-1 border-solid border-gray-200 rounded-full mr-2 transition-all overflow-hidden shadow-md
    shadow-transparent h-[20px] w-[20px] flex-[0_0_20px];
  }

  .radio-icon {
    @apply transition-all w-full h-full relative top-[50%] opacity-0 text-white;
  }

  .radio-error {
    @apply text-xs text-red-500 ml-[28px];
  }

  /*Состояние активности*/
  .radio > label:has(:checked) > .radio-circle {
    @apply bg-blue-500 shadow-blue-300 border-blue-500;
  }

  .radio > label:has(:checked) .radio-icon {
    @apply top-0 opacity-100;
  }

  /*Состояние ошибки*/
  .radio > label:has([aria-invalid='true']) > .radio-circle {
    @apply border-red-500;
  }

  .radio > label:has([aria-invalid='true']):has(:checked) .radio-circle {
    @apply bg-red-500 shadow-red-200;
  }

  /*Состояние выключено*/
  .radio > label:has(:disabled) {
    @apply cursor-not-allowed;
  }

  .radio > label:has(:disabled) > .radio-circle {
    @apply border-gray-400 shadow-none;
  }

  .radio > label:has(:checked):has(:disabled) .radio-circle {
    @apply bg-gray-400;
  }
}
