@layer components {
  p.badge {
    @apply px-2 py-1 rounded-lg text-sm text-black bg-gray-200 font-medium flex gap-1 items-center
    whitespace-nowrap [&>svg]:size-[20px];
  }

  p.badge.green {
    @apply text-white bg-green-500;
  }

  p.badge.blue {
    @apply text-white bg-blue-500;
  }
}
